.fill{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fill  img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    /* object-fit: cover;
    object-position: center;
    transform: scale(1); */
}

.fill-2{
    height: 100%;
    width: 100%;
}

.font-fam{
    font-family: 'Courier New', Courier, monospace;
    color: #241b18;
    font-size: 15px;
}

.bg{
    background: url(./Assets/images/chair.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 

/* Navbar */

.hover-style{
    color: white;
}
.hover-style:hover, .hover-style:focus{
    color:  #e2b241;
}

.hover-style:active{
    color:  #e2b241;
}
/* Gallery */


.hover-color:focus{
    color:  #e2b241;
}

.hover-color:hover{
    color:  #e2b241;
}

.background-hover{
    background-color: #d8d7d7;
}

.background-hover:hover, .background-hover:focus, .background-hover:active {
    background-color: #e2b241;
}

/* Blog */

.hover-color2{
    color: #241b18 ;
}

.hover-color2:hover, .hover-color2:focus{
    color:  #e2b241;
}
